body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

body > div.main {
    width: 50%;
    height: 50%;
    position: absolute;
}

body>div:first-child.main {
    background-color: brown;
    top: 0;
    left: 0;
}

body>div:nth-child(2).main {
    background-color: green;
    top: 0;
    right: 0;
}

body>div:nth-child(3).main {
    background-color: orange;
    bottom: 0;
    left: 0;
}

body>div:nth-child(4).main {
    background-color: pink;
    bottom: 0;
    right: 0;
}

body>div.main>div{
    width: 150px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body>div.main>div>div{
    width: 70px;
    aspect-ratio: 1/1;
    background-color: brown;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body > div:nth-child(5) {
    width: 15%;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: white;
    top:0;
    bottom : 0;
    left:0;
    right:0;
    margin:auto
}

body > div:nth-child(5)>div {
    width: 7vw;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 100%;
    background-color: brown;
    top:0;
    bottom : 0;
    left:0;
    right:0;
    margin:auto
}

body > .conor {
    width: 30vh;
    aspect-ratio: 1/1;
    background-color: white;
    position: absolute;
}

body > .conor:nth-child(6) {
    top: 0;
    left: 0;
    border-radius: 0 0 100% 0;
}

body > .conor:nth-child(7) {
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
}

body > .conor:nth-child(8) {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
}

body > .conor:nth-child(9) {
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
}

.ball {
    width: 30vh;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.top-mid {
    position: absolute;
    top: -15vh;
    left: 0;
    right: 0;
    margin: auto;
}

.bottom-mid {
    position: absolute;
    bottom: -15vh;
    left: 0;
    right: 0;
    margin: auto;
}